{{>header}}
{{>navbar}}
    <form method="post" class="ms-2 me-2" >
      <div class="btn-3">
        <label>Name</label>
        <input name="username" class="form-control" />
      </div>
      <div class="btn-3">
        <label>phone</label>
        <input name="phone" class="form-control" />
      </div>
      <div class="btn-3">
        <label>intial balance</label>
        <input name="intial" class="form-control" />
      </div>
      <div class="mb-3">
        <label class="form-label">Address</label>
       <input name="address" class="form-control" />
      </div>

      <button type="submit" class="btn btn-primary">Add</button>
    </form>

{{>footer}}